/* sign up */
h2{font-size: 32px;color: ghostwhite;}
/* background coloring */
.background{background-color: black;}
body{background-image: url(https://images-na.ssl-images-amazon.com/images/I/71iTJXMay2L._AC_SY355_.jpg);background-repeat: no-repeat;background-position: center; background-color: black;}

/* inside container */
element.style{color: cornsilk;margin-bottom: 69px;}
*{color: yellow;}
a{color: yellow;}